<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mongoServer" value="172.16.120.246" />
    <add key="mongoDatabase" value="MvcDynamicForms" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>